# Archivos de ayuda
HELP.md

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Build outputs
/bin/
/build/
/out/

# Archivos de configuración del proyecto
*.iml
*.ipr
*.iws

# Eclipse / Spring Tools Suite
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Archivos sensibles o de entorno
.env
.env.*

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log
logs/
